body {
  background: #141414;
  color: #ffffff;
}

.movie-app {
  padding: 0 1rem;
  margin: auto;
  width: 100%;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}
.row::-webkit-scrollbar {
  display: none;
}
