body {
  background: #141414;
  color: #ffffff;
}

.movie-app {
  padding: 0 1rem;
  margin: auto;
  width: 100%;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}
.row::-webkit-scrollbar {
  display: none;
}

.row {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  display: flex;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-.5 * var(--gutter-x));
  margin-left: calc(-.5 * var(--gutter-x))
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-right: calc(var(--gutter-x) * .5);
  margin-left: calc(var(--gutter-x) * .5);
  margin-top: var(--gutter-y);
}
